.questions {
	padding: 70px 0;
	min-height: 365px;


	&__content {
		display: flex;
		justify-content: space-around;
		text-align: center;
	}

	&__item {
		margin: 0 20px;
		margin-top: 70px;
		
	}

	&__title {
		margin: 0 auto;
		max-width: 310px;
		margin-top: 30px;
		font-size: $md;
	}

	&__subtitle {
	}

	&__descr {
		margin: 0 auto;
		max-width: 310px;
		margin-top: 10px;
		font-size: $md;
		line-height: 24px;
	}
}