// Colors
// colors primary
$color-primary: #FFA501;

// others colors
$color-black: #000;
$color-white: #fff;
$color-gray: #A8A8A8;
$color-dark_gray: #242424;
$color-space-gray: #E3E3E3;

// Size
$size-xxl: 40px;
$size-xl: 36px;
$size-lg: 18px;
$size-md: 16px;
$size-sm: 14px;
$size-xs: 12px;
$size-xxs: 10px;
