.title{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    font-size: $l;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    color: $color-white;

    &__text::after {
        content: '';
        display: block;
        margin: 0 auto;
        background-color: $color-primary;
        height: 3px;
        width: 130px;
    }

    &_black {
        color: $color-black;
    }
}

.subtitle {
    font-size: $md;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: $color-white;

    &__text {
        position: relative;
        z-index: 1;
    }
    &__text::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        width: 36px;
        height: 36px;

        background-color: $color-primary;
        border-radius: 100%;
    }

    &_black {
        color: $color-black;
    }

    &_big {
        text-align: center;
        position: relative;
        font-size: $x;
        font-weight: 700;
    }
    &_big__text {
        position: relative;
    }
    &_big__text::before {
        content: '';
        position: absolute;
        z-index: -1;

        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;

        background-color: $color-primary;
        border-radius: 100%;

    }
}

.caption {
    margin-top: 30px;
    font-weight: 700;
    font-size: $lg;

    &_center-black {
        text-align: center;
    }
}
