.header {
    min-height: 100px;
    background-color: $color-dark_gray;
    display: flex;

    // wrapper
    &__wrapper {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
    }

    // .header__link

    &__link {
    }

    // .header__img

    &__img {
        display: block;
        max-width: 100%;
    }

    // .header__navigation

    &__navigation {
    }
}
.navigation {

    // .navigation__list

    &__list {
        display: flex;
    }

    // .navigation__item

    &__item {
        margin-right: 30px;
    }

    &__underline--active {
       width: 100%;
       height: 2px;
       background-color: $color-primary;
    }

    // .navigation__link

    &__link {
    }
}