.faq {
    padding: 50px 0;
    background-color: $color-gray;

    &__wrapper {
        
    }
    &__accordion {
        margin: 0 auto;
        max-width: 750px;
        margin-top: 60px;
        margin-bottom: 50px;
       
    }

    &__details {
        margin: 5px 0;
        background-color: $color-white;
        border: 2px solid $color-white;
    }

    &__summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding-left: 20px;
        vertical-align: middle;
        line-height: 50px;
        user-select: none;
    }
    &__title {
        font-weight: 700;
        font-size: $sm;
    }

    &__plus {
        box-sizing: content-box;
        border-radius: 100%;
        padding: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        width: 20px;
        height: 20px;
    }

    &__plus::before {
        content: "";
        width: 20px;
        height: 2px;
        background-color: $color-dark_gray;
      }

      &__plus::after {
        content: "";
        position: absolute;
        left: 50%;
        width: 2px;
        height: 20px;
        transform: translateX(-50%);
        background-color: $color-dark_gray;
      }

    &__paragraph {
        margin: 0;
        padding: 10px 20px 20px 20px;
    }
}