.button {
    cursor: pointer;
    background-color: $color-primary;
    border: 2px solid $color-primary;
    padding: 0 20px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: $md;
    color: $color-white;

    // .button_call
    &_black {
        color: $color-black;
    }

    &_submit {
        width: 100%;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        min-height: 50px;
        border: 2px solid $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background: none;

        font-size: $md;
        font-weight: 700;

        &_orange {
            background-color: $color-primary;
            color: $color-black;
            border: none;
            margin: 0 auto;
        }

        &_more {
            display: inline-block;
            font-weight: 700;
            font-size: $lg;
            color: $color-primary;

        }

        &_more::after {
            content: '';
            margin-top: 5px;
            display: block;
            height: 2px;
            width: 100%;
            background-color: $color-primary;
        }

    }   
}
