.about {
    padding: 60px 0;

    &__person {
        margin-top: 60px;
        background-color: $color-dark_gray;
 
    }

    &__wrapper {
        position: relative;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1140px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-height: 300px;
    }

    &__img {
        display: block;
        margin: 0 15px;
        max-width: 350px;
    }

    &__content {
        padding: 30px 0;
        margin: 0 15px;
        max-width: 560px;
    }

    &__name {
        display: inline-block;
        position: relative;
        font-weight: 700;
        font-size: $xl;
        line-height: 50px;
        color: $color-white;
        letter-spacing: 2px;
    }

    &__name::after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 5%;
        bottom: 0;
        width: 35%;
        height: 3px;
        background-color: $color-primary;
    }

    &__achievements {
        margin-top: 20px;
        font-size: $md;
        color: $color-space-gray;
    }
    &__link {
        text-decoration: underline;
        color: $color-space-gray;
    }

    &__expression {
        margin-top: 30px;
        display: flex;
        font-weight: 500;
        line-height: 22px;
        font-style: italic;
        font-size: $md;
        color: $color-white;
    }

    &__expression::before {
        content: '';
        margin: 9px 10px 0;
        width: 60px;
        height: 1px;
        background-color: $color-white;
    }

    &__contacts {
        margin-top: 20px;
    }
}