.contacts {
    max-width: 220px;
    min-height: 160px;

    // .contacts_promo__title

    &__title {
        margin-top: 30px;
        display: flex;
        align-items: center;
        color: $color-white;

        
    }

    .contacts__title:first-child {
        margin-top: 0;
    }

    // .contacts_promo__img

    &__img {
        margin-right: 5px;
    }

    // .contacts_promo__person

    &__person {
        margin: 5px 0 0 10px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: $md;
        color: $color-space-gray;
    }

    // .contacts_promo__phone

    &__phone {
        font-weight: 500;
        font-size: $md;
        color: $color-space-gray
    }


    &_line {
        display: flex;
        align-items: center;
        max-width: 560px;
        min-height: 0;
    }
    &__person_line {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }
    &__person_line::before {
        content: '';
        margin-right: 5px;
        width: 24px;
        height: 24px;
        background: url('/img/icons/woman_24px.svg')  no-repeat;
    }
    &__person_line:last-child::before {
        content: '';
        margin-right: 5px;
        width: 24px;
        height: 24px;
        background: url('/img/icons/e-mail_24px.svg')  no-repeat;
    }
    &__name_line {
        margin-right: 10px;
    }
}