.contacts {
    display: flex;
    flex-wrap: wrap;
    
    &_end {
        flex-direction: column;
        align-items: center;
        
    }

    &_center {
    }

    &__item {
        margin: 10px 0;
        margin-right: 50px;
    }
    &__item:last-child {
        margin-right:0;
    }


    &__title {
        margin-top: 30px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        color: $color-white;

        
    }

    .contacts__title:first-child {
        margin-top: 0;
    }

    // .contacts_promo__img

    &__img {
        margin-right: 5px;
    }

    &__descr {
        color: $color-space-gray;
    }

    // .contacts_promo__person

    &__person {
        cursor: pointer;
        width: 220px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: $md;
        
    }

    &__email {
        
    }

    // .contacts_promo__phone

    &__phone {
        font-weight: 500;
        font-size: $md;
    }


    &_line {
        display: flex;
        align-items: center;
        max-width: 560px;
        min-height: 0;
    }
    &__person_line {
        width: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
    }
    &__name_line{
        display: flex;
        align-items: center;
    }
    &__name_line::before {
        content: '';
        margin-right: 5px;
        width: 24px;
        height: 24px;
        background: url('/img/icons/woman_24px.svg')  no-repeat;
    }
    &__person_email::before {
        content: '';
        margin-right: 5px;
        width: 24px;
        height: 24px;
        background: url('/img/icons/e-mail_24px.svg')  no-repeat;
    }
    &__name_line {
        margin-right: 10px;
    }
}