.feedback {
    position: relative;
    padding: 90px 0;
    min-height: 700px;

    &__subtitle {

        &_big {
        
        }
    }

    &__wrapper {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__photo {
    }

    &__img {
    }

    &__content {
        max-width: 630px;
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: $xl;
        
    }

    &__subtitle {
        margin-top: 20px;
        font-weight: 700;
        font-size: $lg;   
    }
}